.bold-text{
  font-weight: bold;
}

.navbar{
  background: #5fc8a5
}

.navbar-font{
  color: blue;
}

.logo{
  padding-right: 40px;
}

.welcome{
  width: 100%;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.row{
  display: flex;
  max-width: 90%;
  margin: auto;
  margin-top: 10px;
}

.column-left{
  width: 20%;
  flex: auto;
  font-weight: bold;
}

.column-right{
  flex: auto;
  width: 70%;
  margin-top: 1em;
}

.about-p{
  font-size: 1.5vw;
}

.my-progress{
  width: 50%;
  margin: auto;
  height: 3em;
  margin-right: 10px;
  margin-left: 27vw;
}

.progress-row{
  display: flex;
}

.progress-h1{
  text-align: left;
  margin-right: auto;
  margin-top: 10px;
}

.experience-row{
  /* display: flex; */
  margin-left: 27vw;
  display: flex;
  flex-wrap: wrap;

}

.experience-div{
  width: 34vw;
  padding: 1.5vw;
}

.experience-h1{
  margin-left: 10px;
}

.white-bg{
  background: #e9ecef;
  color: #057aff;
}

.blue-bg{
  background: #057aff;
  color: white;
}

.bl-txt{
  color: #057aff;
}

.experience-p{
  margin-left: 2vw;
  margin-right: 3vw;
}

.video-tag{
  width: 50vw;
  margin-left: 8vw;
}

.video-div{
  background: #057aff;
  padding: 20px;
  margin-right: 3.5vw;
}

.video-div-gray{
  background: #e9ecef;
  padding: 20px;
  margin-right: 3.5vw;
}


/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .about-p{
    font-size: 3vw;
  }

  .progress-h1{
    text-align: left;
    margin-right: auto;
    margin-top: 11px;
  }

  .video-tag{
    margin-left: 7.5vw;
  }

  .video-div{
    background: #057aff;
    padding: 20px;
    margin-right:5vw;
  }




}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  .row{
    display: flex;
    /* max-width: 90%; */
    margin: 0;
    margin-top: 10px;
  }

  .column-left{
    /* width: 20%; */
    margin-top: 10px;
    flex: auto;
    margin-left: 10px;
  }

  .column-right{
    flex: auto;
    /* width: 70%; */
    margin-top: 1em;
  }

  .about-p{
    font-size: 3vw;
  }

  .progress-h1{
    text-align: left;
    margin-right: auto;
    margin-top: 11px;
  }

  .my-progress{
    width: 50%;
    margin: auto;
    height: 3em;
    margin-right: 10px;
    margin-left: 23vw;
  }

  .white-bg{
    background: #e9ecef;
    color: #057aff;
  }

  .blue-bg{
    background: #057aff;
    color: white;
  }

  .video-tag{
    margin-left: 6vw;
  }

  .video-div{
    background: #057aff;
    margin-right: 5vw;
  }


}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {


  .row{
    display: block;
    max-width: 100%;
  }
  .column-left{
    flex: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 0px;
  }
  .column-right{
    flex: none;
    width: 100%;
    padding: 10px;
    margin-top: 0px;
  }

  .about-p{
    font-size: 6vw;
  }

  .progress-h1{
    text-align: left;
    margin-right: auto;
    margin-top: 10px;
  }

  .my-progress{
    width: 50%;
    margin: auto;
    height: 3em;
    margin-right: 10px;
    margin-left: 5vw;
  }

  .experience-row{
    display: block;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .experience-div{
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
    background: #057aff;
    padding: 2.5vw;
  }

  .experience-h1{
    margin-left: 5vw;
  }

  .white-bg-mobile{
    background: #e9ecef;
    color: #057aff;
  }

  .blue-bg-mobile{
    background: #057aff;
    color: white;
  }

  .experience-p{
    margin-left: 10vw;
    margin-right: 7vw;
  }

  .video-tag{
    width: 80vw;
    margin-left: 0;
  }

  .video-div{
    background: #057aff;
    padding: 15px;
    margin-right: 2vw;
  }




}
